.fl {
  float: left;
}

.fr {
  float: right;
}

.clear :after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clear {
  zoom: 1;
}

#header {
  height: 101px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: relative;
  clear: both;
}
#header .wrap {
  width: 1200px;
  margin: 0 auto;
}
#header .wrap .J-user-info-box {
  position: relative;
  background: #fff;
  float: left;
  z-index: 99;
  width: 253px;
}
#header .wrap .J-user-info-box .J-shop-user-info {
  min-height: 50px;
  margin-left: 0;
}
#header .wrap .J-user-info-box .J-shop-user-info .avatar {
  float: left;
}
#header .wrap .J-user-info-box .J-shop-user-info .avatar .face {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 15px;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap {
  padding-left: 10px;
  margin-top: 10px;
  float: left;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .name-wrap {
  font-size: 14px;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  display: block;
  font-weight: 400;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .name-wrap .name {
  float: left;
  margin-right: 5px;
  display: inline-block;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  white-space: nowrap;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-decoration: none;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .name-wrap .mark {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: sub;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .score-wrap {
  position: relative;
  z-index: 20;
  clear: both;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .score-wrap .star {
  padding: 0;
  margin: 0;
  font-size: 0;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .score-wrap .star i {
  margin-right: 5px;
  width: 12px;
  height: 15px;
  background: url(https://s10.mogucdn.com/p1/160908/idid_ifrggnjwmi3gimdfmezdambqmeyde_18x38.png) 0 -12px no-repeat;
  background-size: 13px 26px;
  display: inline-block;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .score-wrap .descript {
  padding: 0;
  margin: 0;
  font-size: 7.5px;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .score-wrap .descript .cat {
  color: #666;
  margin-right: 5px;
  font-size: 12px;
  float: left;
  height: 20px;
}
#header .wrap .J-user-info-box .J-shop-user-info .name-score-wrap .score-wrap .descript .cat b {
  color: #ef2f23;
  font-weight: 400;
  padding-left: 2px;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail {
  display: none;
  position: absolute;
  top: 101px;
  left: 0;
  width: 505px;
  background-color: #f6f6f6;
  border-top: 0;
  font-size: 12px;
  z-index: 99999;
  padding: 17px 0 17px 22px;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .info-box {
  float: left;
  width: 240px;
  min-height: 250px;
  overflow: hidden;
  border-right: 1px solid #dedede;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .info-box ol {
  float: left;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .info-box ol li {
  line-height: 26px;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .info-box ol .pl20 {
  padding-left: 20px !important;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .info-box ol .tc {
  text-align: center;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .info-box ol .mb3 {
  margin-bottom: 3px;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .info-box ol .mb10 {
  margin-top: 10px !important;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .info-box ol .tag {
  width: 85px;
  display: inline-block;
  text-align: right;
  color: #999;
  margin-right: 2px;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .li1 {
  width: 150px;
  margin: 0 0 5px 22px;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .li2 {
  width: 80px;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .li4 {
  padding: 5px 0;
  width: 150px;
  margin-left: 22px;
  border-top: 1px dashed #dedede;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .li5 {
  padding: 5px 0;
  width: 70px;
  border-top: 1px dashed #dedede;
}
#header .wrap .J-user-info-box .J-shop-user-info-detail .title {
  line-height: 28px;
  color: #999;
}
#header .wrap .J-user-info-box .shop-header-action {
  margin-left: 50px;
  margin-top: 4px;
}
#header .wrap .J-user-info-box .shop-header-action .J-shop-follow {
  padding: 0 12px 0 22px !important;
  background-position: 4px -48px;
  font-size: 12px;
  color: #666;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  background-color: #fff;
  display: inline-block !important;
  border: 1px solid #E2E2E2;
  background-image: url(https://s10.mogucdn.com/pic/140917/1agxjw_ieygizjshe4wcyjvmmytambqgiyde_270x400.png);
  background-repeat: no-repeat;
  text-decoration: none;
  border-radius: 6px;
}
#header .wrap .J-user-info-box .shop-header-action .chart {
  line-height: 20px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: 6px;
}
#header .wrap .J-user-info-box .shop-header-action .chart .mogutalk_widget_btn {
  background: url(https://s10.mogucdn.com/mlcdn/c45406/181024_5abd1ag5f5b1562hg5ke8g73h212a_138x50.gif) no-repeat;
  width: 57px;
  height: 24px;
  background-size: contain;
}
#header .wrap .J-user-info-box .shop-header-action .shop-header-action-icon {
  width: 7px;
  height: 5px;
  background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181024_35i5h0dd08j0i79670d63k9ak461b_14x10.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 4px;
}
#header .wrap .search-nav-content {
  margin-left: 0;
}
#header .wrap .search-nav-content .normal-search-content {
  width: inherit;
  margin-left: 33px;
  height: 44px;
  float: left;
  margin-top: 28px;
}
#header .wrap .search-nav-content .normal-search-content .top_nav_search {
  position: relative;
  z-index: 50;
}
#header .wrap .search-nav-content .normal-search-content .top_nav_search .searchInShop {
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  width: 75px;
  background-color: #F46;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  margin-left: 8px;
}
#header .wrap .search-nav-content .normal-search-content .top_nav_search .search_inner_box {
  float: left;
  border: 1px solid #F46;
  border-radius: 6px;
  background: #fff;
}
#header .wrap .search-nav-content .normal-search-content .top_nav_search .search_inner_box #top_nav_form {
  height: 42px;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
  left: 0;
}
#header .wrap .search-nav-content .normal-search-content .top_nav_search .search_inner_box #top_nav_form .ts_txt {
  width: 375px;
  height: 42px;
  line-height: 42px;
  display: block;
  overflow: hidden;
  padding-left: 15px;
  border: none;
  color: #999;
  font-size: 12px;
  background-color: #fff;
}
#header .wrap .search-nav-content .normal-search-content .top_nav_search .search_inner_box #top_nav_form .ts_btn {
  width: 75px;
  background: #F46;
  color: #fff;
  font-size: 14px;
  float: right;
  width: 55px;
  height: 44px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
#header .wrap .search-nav-content .normal-search-content .top_nav_search .search_inner_box .top_search_hint {
  width: 390px;
  left: 0;
  display: none;
  position: absolute;
  width: 483px;
  z-index: 999;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #F46;
  border-top: 1px solid #f07;
  overflow: hidden;
  box-sizing: content-box;
}
#header .wrap .search-nav-content .site-top-nav {
  margin-left: 49px;
  float: left;
  margin-top: 27px;
  width: 320px;
}
#header .wrap .search-nav-content .site-top-nav .header-nav-list {
  padding-top: 4px;
  color: #333;
}
#header .wrap .search-nav-content .site-top-nav .header-nav-list .header-message-icon {
  margin-bottom: 2px;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181016_626h76eek6jgl5621492ck0438af3_48x44.png);
}
#header .wrap .search-nav-content .site-top-nav .header-nav-list .nav-list-item {
  margin-bottom: 2px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100%;
}
#header .wrap .search-nav-content .site-top-nav .header-nav-list .tuM {
  margin-left: 34px;
}
#header .wrap .search-nav-content .site-top-nav .header-nav-list .header-user-info {
  margin-left: 30px;
  line-height: 0;
  font-size: 14px;
  color: #333;
}
#header .wrap .search-nav-content .site-top-nav .header-nav-list .header-user-info .header-user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
#header .wrap .search-nav-content .site-top-nav .header-fav-center {
  margin-left: 34px;
  display: block;
}
#header .wrap .search-nav-content .site-top-nav .header-fav-center .header-fav-icon {
  background-image: url(../images/star.png);
}
#header .wrap .search-nav-content .site-top-nav .header-cart-icon {
  background-image: url(../images/car.png);
}
#header .wrap .search-nav-content .site-top-nav .header-user-menu {
  height: 40px;
  display: inline-block;
  position: relative;
}
#header .wrap .search-nav-content .site-top-nav .header-user-menu ol {
  width: 112px;
  text-align: center;
  border: 1px solid #E5E5E5;
  position: absolute;
  right: 0;
  display: none;
  background: #fff;
  z-index: 999999;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
#header .wrap .search-nav-content .site-top-nav .header-user-menu ol .user-meta {
  font-size: 14px;
}
#header .wrap .search-nav-content .site-top-nav .header-user-menu ol .user-meta .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
#header .wrap .search-nav-content .site-top-nav .user-meta:hover {
  color: #F46;
}
#header .wrap .search-nav-content .site-top-nav .header-user-menu:hover .ext-mode {
  display: block;
  margin-top: 15px;
}
#header .wrap .search-nav-content .site-top-nav .s2:hover a {
  color: #F46;
}

.header-user-menu > ol > li {
  line-height: 40px;
}

.J-shop-user-info:hover .J-shop-user-info-detail {
  display: block;
}

#main {
  width: 100%;
}

.main_t {
  width: 1200px;
  margin: 0 auto;
  height: 680px;
}

.primary-goods {
  width: 1058px;
  background: #fff;
  z-index: 7;
}

.goods-info {
  width: 100%;
  min-height: 530px;
}

.goods-info .info-box {
  padding: 0 90px 25px 431px;
  _padding: 0 0 0 460px;
  overflow: hidden;
}

.goods-info-presale .presale-title, .goods-title {
  font-family: Microsoft YaHei,arial;
  color: #333;
  width: 100%;
  margin-bottom: 15px;
}

.goods-title {
  font-size: 24px;
  line-height: 25px;
}

.goods-info .goods-main {
  width: 540px;
  margin-left: -10px;
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  background: #f6f6f6;
}

.goods-info .goods-main dl {
  padding-bottom: 0;
}

.goods-info .goods-prowrap dl {
  min-height: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
  position: relative;
}

.property-type-now {
  color: #ef2f23;
}

.goods-info .goods-prowrap dt {
  color: #999;
  position: absolute;
  font-size: 12px;
}

.goods-info .goods-prowrap dd {
  padding-left: 60px;
}

.property-box .property-cont-now {
  width: 262px;
  height: auto;
}

.property-box .property-cont-now .price {
  color: #ef2f23;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
}

.mr10 {
  margin-right: 10px !important;
}

.property-box .property-extra .num {
  color: #333;
}

.property-box .property-extra {
  line-height: 32px;
  margin-right: 10px;
  color: #999;
}

.promotions-occupying {
  display: block;
  height: 32px;
}

.goods-info .goods-im {
  margin-top: 15px;
}

.goods-info .goods-prowrap dl {
  min-height: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
  position: relative;
}

.goods-info .goods-prowrap dt {
  color: #999;
  position: absolute;
  font-size: 12px;
}

.mogutalk_default {
  width: 85px;
  height: 24px;
  background: url(//s10.mogucdn.com/pic/140815/sp1ku_ieygin3dgeydoztbmiytambqmeyde_16x17.gif) 50% no-repeat;
}

.mogutalk_widget_btn {
  cursor: pointer;
  text-indent: -9999px;
  display: inline-block;
}

.goods-sku .pannel-action, .goods-sku .pannel-title {
  display: none;
}

.goods-sku .goods-buy {
  padding: 5px 0 20px 60px;
}

.module-rushbuy .buy-btn {
  font-family: Microsoft YaHei\,arial;
}

.buy-now {
  width: 200px;
  background: #ef2f23;
  height: 50px;
  line-height: 50px;
}

.buy-btn {
  display: inline-block;
  text-align: center;
  font: 20px Microsoft YaHei;
  color: #fff;
  height: 48px;
  line-height: 48px;
}

.module-rushbuy .countdown {
  display: inline-block;
  line-height: 12px;
  padding-top: 19px;
  color: #333;
  font-size: 12px;
}

.module-rushbuy .countdown {
  display: inline-block;
  line-height: 12px;
  padding-top: 19px;
  color: #333;
  font-size: 12px;
}

.goods-social .share {
  position: relative;
}

.goods-social .item {
  padding: 0 13px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ddd;
  border-radius: 24px;
  color: #999;
  float: left;
  cursor: pointer;
  margin-right: 10px;
}

.goods-social .share b {
  background-image: url(https://s10.mogucdn.com/p2/170122/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png);
  background-position: -9px -56px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}

.goods-social .share-w {
  position: absolute;
  top: 28px;
  left: 0;
  padding-top: 16px;
  width: 64px;
  height: 35px;
  background-image: url(https://s10.mogucdn.com/mlcdn/c024f5/180510_2l62k123bel8hk0a0i29b4hl6eded_62x44.png);
  background-repeat: no-repeat;
  overflow: hidden;
  display: none;
}

.goods-social .share a {
  float: left;
  width: 17px;
  height: 17px;
  margin-left: 8px;
}

.goods-social .report {
  float: left;
  height: 26px;
  line-height: 26px;
}

.goods-social .report a {
  color: #999;
}

.goods-extra .extra-services {
  padding-top: 20px;
  width: 600px;
}

.goods-extra .extra-services .label {
  color: #999;
}

.goods-extra .extra-services .list {
  width: 500px;
}

.goods-extra .extra-services .item {
  margin-top: -4px;
  height: 30px;
  color: #666;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.goods-extra .extra-services .link {
  color: #666;
}

.goods-extra .extra-services .link img {
  width: 24px;
  height: 24px;
}

.goods-extra .extra-pay .list {
  background-image: url(https://s10.mogucdn.com/p2/170122/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png);
  background-position: -10px -295px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 131px;
  height: 20px;
}

.goods-topimg {
  margin-left: -100%;
  width: 400px;
  overflow: hidden;
}

.goods-topimg .big-img {
  width: 400px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.goods-topimg .big-img button.middle {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  padding: 0;
  outline: none;
}

.goods-topimg .big-img button.middle img {
  width: 400px;
}

.goods-topimg .small-img {
  position: relative;
}

.goods-topimg .small-img .box {
  margin-top: 10px;
  padding: 0 32px;
}

.goods-topimg .small-img .list {
  overflow: hidden;
  position: relative;
  height: 59px;
}

.goods-topimg .small-img ul {
  margin-right: -15px;
}

.goods-topimg .small-img ul li {
  width: 60px;
  opacity: .5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.goods-topimg .small-img ul img {
  width: 60px;
}

.goods-topimg .small-img ul li.c {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.goods-topimg .small-img .arrow-btn {
  background-image: url(https://s10.mogucdn.com/p2/170122/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png);
  width: 12px;
  height: 22px;
  position: absolute;
  top: 17px;
  display: none;
}

.goods-topimg .small-img .arrow-btn {
  background-image: url(https://s10.mogucdn.com/p2/170122/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png);
  width: 12px;
  height: 22px;
  position: absolute;
  top: 17px;
  display: none;
}

.goods-topimg .small-img .right-btn {
  background-position: -10px -217px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 19px;
  right: 0;
}

.goods-topimg .small-img .left-btn {
  background-position: -10px -256px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 19px;
  left: 0;
}

.primary-slide {
  z-index: 6;
  overflow: hidden;
  border-left: 1px solid #eee;
  padding-left: 20px;
  margin-left: -140px;
}

.goods-recommend {
  width: 100%;
}

.goods-recommend .title {
  color: #666;
  height: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
}

.goods-recommend .title s {
  position: absolute;
  top: 7px;
  margin-left: -50%;
  width: 100%;
  height: 0;
  border-top: 1px solid #eee;
  text-decoration: none;
}

.goods-recommend .title span {
  font-size: 16px;
  color: #999;
  text-align: center;
  width: 6em;
  top: 0;
  left: 50%;
  margin-left: -3em;
  background-color: #fff;
  position: absolute;
}

.goods-recommend .list .box {
  height: 650px;
  overflow: hidden;
  width: 120px;
  position: relative;
}

.goods-recommend .list ul {
  position: absolute;
  margin-bottom: -20px;
}

.goods-recommend .list li:first-child {
  margin-top: 1px;
}

.goods-recommend .list li {
  margin-top: 11px;
}

.goods-recommend .list li a {
  position: relative;
  display: block;
  background-color: #f5f5f5;
  width: 120px;
  height: 180px;
  overflow: hidden;
}

img {
  border: 0;
  vertical-align: middle;
}

.goods-buy > img {
  display: none;
}

.main_img {
  width: 1200px;
  margin: 0 auto;
  min-height: 800px;
  position: relative;
}

.main_img img {
  width: 100%;
}

.aside_wrap {
  position: absolute;
  left: 0;
  width: 220px;
  height: 100%;
  top: 0;
  background: pink;
}

.middle_wrap {
  width: 100%;
  height: 100%;
}
.middle_wrap .middle_img {
  width: 720px;
  margin-left: 230px;
}

.asider_wrap {
  position: absolute;
  right: 0;
  top: 0;
  background: #999;
  width: 240px;
  height: 100%;
}

.middle_img {
  width: 700px;
  height: auto;
  margin-top: 10px;
}

.middle_img > img {
  width: 100%;
}

#J_ModulePromotions .no-get {
  border: 1px solid #f57;
}

.promotions-needget .promotions-card {
  display: inline-block;
  line-height: 20px;
  border-radius: 2px;
  margin-right: 5px;
}

.promotions-card .promotions-card-text {
  display: inline-block;
  padding-left: 4px;
  padding-right: 2px;
  font-size: 12px;
}

.no-get .promotions-card-get {
  color: #fff;
  background: #f57;
}

.promotions-card .promotions-card-get {
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
  width: 30px;
}

#J_BuyCart {
  color: #333;
  border: 1px solid #ddd;
  text-align: center;
  width: 200px;
}

#J_OriginPrice {
  text-decoration: line-through;
}

.goods-sku .goods-num .num-input {
  width: 44px;
  text-align: center;
  color: #000;
  font-size: 14px;
  border: 0;
  height: 25px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.num-add, .goods-sku .goods-num .num-reduce {
  float: left;
  width: 24px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}

num-add, .goods-sku .goods-num .num-reduce {
  float: left;
  width: 24px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}

.goods-sku .goods-num {
  position: relative;
  width: 95px;
  height: 25px;
  zoom: 1;
  border: 1px solid #ddd;
}

.num-reduce {
  background-image: url(https://s10.mogucdn.com/p2/170122/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
}

.num-add {
  background-image: url(https://s10.mogucdn.com/p2/170122/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  background-position: -3px -78px;
}

/*# sourceMappingURL=detaill.css.map */
